<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Cuenta eliminada</title>
</head>
<body>
  <h1>{{message}}</h1>
  <p>Lamentamos que te vayas, {{user.first_name}}.</p>
  <a href="/register">Volver a registrarte</a>
</body>
</html>